.header-container {
    position: relative;
}

.header-container div:first-child {
    color: #8e8e8e;
}

.found-locations {
    position: absolute;
    top: 24px;
    background-color: #1e1e1e;
    width: 414px;
    padding-top: 40px;
}

.input-container input {
    width: 414px;
    background-color: #1e1e1e;
    border-radius: 22px;
    padding: 10px 20px 10px 55px;
    font-size: 14px;
    line-height: 24px;
    color: #8e8e8e;
}

.input-container {
    position: relative;
    z-index: 2;
}

.input-container svg {
    position: absolute;
    left: 20px;
    width: 28px;
    height: 44px;
    fill: #8e8e8e;
}

@media screen and (max-width: 1024px) {
    .input-container input {
        width: 370px;
    }

    .found-locations {
        width: 370px;
    }
}

@media screen and (max-width: 830px) {
    .header-container {
        display: flex;
        justify-content: center;
    }
}

@media screen and (max-width: 440px) {
    .input-container input {
        width: 100%;
    }

    .found-locations {
        width: 100%;
        padding-top: 25px;
    }

    .header-container {
        display: block;
    }
}