.weather-content-flex {
    display: flex;
    justify-content: center;
    column-gap: 30px;
    min-width: 800px;
}

.accordion-items {
    min-width: 350px;
    max-height: 723px;
}

.accordion-container-title {
    color: white;
    font-weight: 500;
}

.accordion-items-container {
    border-radius: 15px;
    max-height: 100%;
    overflow-y: scroll;
}

.accordion-items-container::-webkit-scrollbar {
    display: none;
}

@media screen and (max-width: 830px) {
    .weather-content-flex {
        display: block;
        min-width: 0;
    }

    .detail-info-container {
        margin: 0 auto;
    }

    .accordion-items-container {
        display: grid;
        grid-template-columns: repeat(1, 350px);
        justify-content: center;

        column-gap: 30px;
    }
    .accordion-container-title {
        margin-top: 40px;
    }
    .accordion-items {
        min-width: 0;
        overflow-y: scroll;
        border-radius: 15px;
    }
    .accordion-items::-webkit-scrollbar {
        display: none;
    }
}

@media screen and (max-width: 440px) {
    .accordion-items-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-content: center;
        column-gap: 10px;
    }
    .accordion-items {
        min-width: 0;
        overflow-y: scroll;
        border-radius: 15px;
    }
}