.weather-content-flex {
    display: flex;
    justify-content: space-between;
}

.detail-info-container {
    width: 414px;
}

.accordion-items-container {
    min-width: 350px;
    /* height: 540px; */
    /* overflow-y: scroll; */
}

.accordion-items-container::-webkit-scrollbar {
    display: none;
}