.accordionItem {
    background-color: white;
    border-radius: 15px;
    padding: 15px;
    min-height: 72px;
    margin: 20px 0;
    width: 100%;
    overflow: hidden;
    cursor: pointer;
}

.accordionHeader {
    margin-bottom: 20px;
}

.accordionContent {
    transition: margin-bottom 0.8s ease;
}

.dailyForecastItems {
    display: flex;
    gap: 32px;
    justify-content: space-between;
    border-top: 2px solid #f3f3f3;
    border-bottom: 2px solid #f3f3f3;
    padding: 20px 0;
}

.accordionItem .accordionExpanded {
    height: 100%;
    margin-bottom: 0;
}

.accordionItem .accordionCollapsed {
    margin-bottom: -50%;
    overflow: hidden;
}

@media screen and (max-width: 440px) {
    .accordionItem {
        padding: 5px;
        min-height: 54px;
    }

    .accordionHeader {
        margin-bottom: 8px;
    }

    .accordionItem .accordionCollapsed {
        margin-bottom: -70%;
        overflow: hidden;
    }
}