.item p {
    margin-bottom: 10px;
    width: 40px;
    text-align: center;
}

.item img {
    width: 22px;
    display: block;
    margin: 0 auto 10px;
}

.item p:nth-child(odd) {
    color: #8e8e8e;
}
.item p:nth-child(-n+4) {
    font-weight: 500;
}